body {
    font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

td, th{
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

th{
  font-weight: normal;
}

thead {
  font-size: x-large;
}

.board{
  border:1px solid #000000;
  background-color: antiquewhite;
}

.disabled{
  color:grey;
}